body {
  text-align: center;
  font-family: Helvetica;
}
h1, h2, h3 {
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
p {
  font-size: 14px;
}
#home {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
#home h1 {
  font-size: 70px;
}
#process h2 {
  font-size: 32px;
}
#process h3, #about h3 {
  font-size: 23px;
}
#about-header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
#footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
